<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="content">
            <center>
            <h1>Cozy shop's Review Panel!</h1>
            <p>Leave your reviews for our shop!</p>
            <img src="https://png.pngtree.com/background/20230516/original/pngtree-coffee-shop-with-many-wooden-tables-and-chairs-picture-image_2611848.jpg" height="400" width="700" alt="">
            <form id="reviewForm">
                <label for="name">Your name: </label>
                <input id="name" type="text" name="name" placeholder="Jenin" required>
                <br>
                <label for="name">Your review: </label>
                <input id="name" type="text" name="name" placeholder="I really liked ts!" required>
                <br>
                <input type="submit" value="Submit!">
                 
            </form>
        </center>
        </div>

        <div id="reviews">

        </div>
        <script src=""></script>
    </body>
</html>